body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vmin;
  width: 100vmin;
  margin: 0;
}


main {
  text-align: center;
  width: calc(100%);
  height: 100%;
  background: lightyellow;
}

svg {
  width: 100%;
  height: 100%;
  background: gray;
}

circle {
  stroke-dasharray: 3cqw;
  border: 8px solid burlywood;
}


a {
  margin-right: 1rem;
}

h1 {
  color: #335d92;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}